* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f5f5f5;
}

/* MAIN CONTAINER */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    display: flex;
    border: 1px solid #ddd;
    overflow: hidden;
}

/* LEFT SIDE (FORM) */
.form-section {
    width: 50%;
    padding: 40px;
}

.form-section h2 {
    margin-bottom: 25px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 5px;
}

.check div{
    font-size: 13px;
    color: #555;
    position: relative;
    bottom: 28px;
    left: 25px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #3a5f0b;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.or-text {
    text-align: center;
    margin: 20px 0;
    color: #555;
}

.social-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-buttons button {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.bottom-text {
    text-align: center;
    margin-top: 10px;
}

.bottom-text a {
    color: #3a5f0b;
    text-decoration: none;
}

/* RIGHT IMAGE */
.image-section {
    width: 50%;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RESPONSIVE */
@media(max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .form-section, .image-section {
        width: 100%;
    }
    .image-section img {
        height: 250px;
    }
}


